/* -------------------------------- */
/* -- Light tillac style sheet  --- */
/* - for rmarkdown::html_document - */
/* -------------------------------- */


/* ---- CSS variables ---- */
:root {
	--main_color: #741336;
	--body_color: #606c71;
}

/* ---- Fonts ---- */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ---- Page ---- */

/* page size */
.main-container{
	max-width: 85% !important;
}

/* background */


/* logo */



/* ---- Text and headers ---- */

/* text */
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.5;
  color: var(--body_color);
}


/* header */


/* lists */


/* links */



/* ---- Reactable style ---- */

/* header */
.header {
	text-align: center !important;
	border-top: 4px solid var(--main_color);
}

/* footer */
.pagination-bottom {
	border-bottom: 4px solid var(--main_color);
}
